%article.article.teaser
  .headline-wrapper
    %h1.headline
      Sturm und Drang
      %span.small
        - words = ["smart", "logical", "responsive"]
        = words.join(" &middot; ") + " - Questionnaires"
