%article.article.teaser
  .headline-wrapper
    %h1.headline
      Quiz: "Sturm und Drang"
      %span.small
        - words = ["test", "your", "knowledge"]
        - # words.join(" &middot; ") + " @ slidevision.io"
