
%article.article.description.animate-if-in-view
  %h2.headline
    About

  %p
    This
    %b jquery.formslider
    integrates a modified
    = @link_to 'Flexslider', 'http://flexslider.woothemes.com/', target: '_blank'
    with logical slide pages that can have features and behaviors provided by
    %b plugins.

  %p
    The main goal is to have different actions triggered depending on what
    %b type
    the actual slide page is.
    You can stop going forward when a formula is invalid for example.

  %p
    The Library is very
    %b small,
    %b performance optimized,
    full
    %b responsive
    and
    %b touch
    capable. You can easily write you own plugins and
    %b implement custom slide behavior.
