label.error
  +block
  text-align: center
  padding: 10px
  font-weight: bold
  color: #fe676c
  font-style: italic
  font-size: 14px
  +min-width-sm
    +block
    text-align: left

input.error
  background-color: #fee0e1
  border-color: #fe676c
