
- infosClass = if @config?.infos then 'with-infos' else 'without-infos'

.slide{'data-role': @config.role, 'data-id': @config.id, class: infosClass}

  = @render_formslider_role(@config.role, @config)

  - # very strange variable scoing behaviour occured here, so we reset
  - # -> see form_slider_helper
  - @config = {}
